# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environments
venv/
.venv/
ENV/
env/
internal_venv/

# Environment variables
.env

# Logs
*.log
output.log

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Project Specific
Ejemplo Python/venv/
Ejemplo Python/__pycache__/
Monitoreo/data/
docker-compose.override.yml

# OS
.DS_Store
Thumbs.db
